body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 5%;
    position: 50%;
    
    
}
.half-text{
    padding:  150px 0 0 80px;
    margin-left: 20%;
}
.img1{
    padding-top: 30px;
    padding-left: 0%;
    width: 80%;

}
.img2{
    width: 70%;
    padding-top: 40px;
    padding-left: 30px;

}
.img3{
    width: 30%;
    padding-top: 40px;
    padding-left: 30px;

}
.img4{
    width: 30%;
    padding-top: 40px;
    padding-left: 30px;

}
.img5{
    width: 30%;
    padding-top: 40px;
    padding-left: 30px;

}
.three-width{
    width: 25%;
    float: left;
    margin-left: 5%;
    position: 28%;
    padding-top: 40px;
}
.three-width img{
    width: 100%;
}

.half-width img{
    width: 100%;
    
 
    
}

  .link-button{
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    width: 50%;
    font-size: 16px;
    text-align: center;
    background-color: rgb(245, 4, 44);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(45deg, rgb(245, 7, 46), rgb(241, 15, 49));

}

.top-banner1{
    background-image: url("img/header-bg.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    


}
.top-banner2{
    background-image: url("img/biography-bg.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}
.top-banner3{
    background-image: url("img/latest-work-bg.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}
.top-banner4{
    background-image: url("img/footer-bg.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text-possition{
    left: 100px;
    bottom: 50px;

}


  
h1{
    font-size: 50px;
    line-height: 0.5;
}
h2{
    font-size: 35px;

}
p{
    color: #555455;

    
}
#link-height{
    line-height: 5;
}
section{
    height: 500px;
    padding-bottom: 150px;
}

#id{
    color: rgb(235, 10, 47);
    font-family: 'Anton', sans-serif;

}
#id2{
    padding-top: 120px;
    width: 85%;
}
#id3{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-left: 500px;
    font-size: 30px;
}
#id4{
    font-size: 20px;
    font-weight: bolder;
}
#id5{
    line-height: 2.5;
}
#id6{
    
    width: 40%;
    text-align: center;
    padding-left: 400px;
}
#id7{
    line-height: 10;
}
#id-bio{
    line-height: 2.5;
    font-weight: bold;
}

#last-part{
    text-align: center;
}